@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Port Road<br />
    Letterkenny<br />
    <abbr title="Phone">P:</abbr>
    074 91 68000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:l00112486@student.lyit.ie>Marty Currans Student Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:martycurran@gmail.com">Marty Curran's Personal Email</a>
</address>