@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The LYIT Toy Store</h1>
    <p class="lead">Welcome to LYIT Toystore</p>
    <p><a href="http://lyit.ie" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Letterkenny IT</h2>
        <p>
            More about Letterkenny Institute of Technology
        </p>
        <p><a class="btn btn-default" href="http://lyit.ie">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blackboard at LYIT</h2>
        <p>Log into your Blackboard Account.</p>
        <p><a class="btn btn-default" href="https://lyitbb.blackboard.com/">BlackBoard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log into Facebook</h2>
        <p>Here's a link to Facebook</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/">Log In &raquo;</a></p>
    </div>
</div>